.weatherCard{
    padding-top:116px;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--text-main);
}
.weatherCardContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.WeatherCardSnow{
    height: 200px;
}
.weatherCardTemp{
    margin-top: 0;
}
.weatherCardContentCenter{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.weatherCardTempDidgit{
    font-family: Rubik;
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: center;
}
  
.weatherCardTempSymbol{
    font-family: Rubik;
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
}
.weatherCardTempString{
    font-family: Rubik;
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
}

.weatherCardDescr{
    font-family: Rubik;
    font-size: 36px;
    margin: 0 auto;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;
    color: var(--text-main);

}
.weatherCardFootNote{
    font-family: Rubik;
    margin-top: 17px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: var(--disaibled-main);

}
.weatherCardDate{
    margin-top: 78px;
    width: 63%;
    display: flex;
    justify-content: space-between;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--disaibled-main);

}

.weatherCardlocation{
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 8px;  
    margin-bottom: 24px;
    
}
.weatherCardlocationSity{
    font-family: Rubik;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--disaibled-main);

}
@media screen and (max-width:839px) {
    .weatherCard{
        height: 100%;
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 90px;
        margin-left: 0 ;
        padding: 0;
    }
   
}