/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside,
  main {
    display: block;
  }
  
  html,
  body {
    width: 100%;
    min-width: 360px;
    font-size: 16px;
  }
  
  main {
    flex-grow: 1;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
   Для iphone
  input:not([type='checkbox']):not([type='radio']),
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
   Конец
   Убрать/невидимка стрелочку у input
  input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
   Конец
  
  button {
    cursor: pointer;
    background: transparent;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
   Скрываем стрелки в input[type="number"]
  /* Это для браузера Chrome: */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Это для браузера Firefox: */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  
  /* Для других */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* END*/
   Скрытие крестика в инпуте
  input[type='text']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  
  input[type='text']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }
  
   /* Обводка у обязательных (required) полей ввода */
  input,
  textarea {
    outline: none;
  
    &:focus:required:invalid {
      border-color: #fc4747;
    }
  
  }
  
  /*--------------------*/
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
  
    &_hide {
      overflow: hidden;
    }
  }
  
  .container-1200 {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    min-width: 320px;
  
    width: 100%;
  
    &_hide {
      overflow: hidden;
    }
  }
  
  .btn-center {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-top: 32px;
    margin-bottom: 64px;
  }
  
  .ymaps-2-1-79-gototaxi,
  .ymaps-2-1-79-gototech,
  .ymaps-2-1-79-panel-pane,
  .ymaps-2-1-79-float-button,
  .ymaps-2-1-79-searchbox,
  .ymaps-2-1-79-zoom {
    display: none !important;
  }
  